extends ./layout.jade

block title
  title Home

block content

  h1 Welcome to the Puppy Ruscue!
  h2
    a(href="/puppies") See our puppies
  h3 Contact Info
  p Phone: 111 111-1111, email: pup@puppies.com


